/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 juin 2015, 20:01:11
    Author     : grossello
*/

.col-md-3{
    width: 8%;
    float: left;
    margin-left: 15%;
    margin-top: 1%;
}


.btn-group{
    margin-left: 15%;
    margin-bottom: 1%;
}

.btn-carte{
    margin-left: 5%;
}

.btn-default{
    background-color: #46e73c;
    border-color: #ecf1ec;
}

.btn:hover{
    background-color: #46e73c;
    border-color: white;
}

.nodeco{
    color: #ecf1ec;
    text-decoration: none;
}

.nodeco:hover {
    color: white;
    text-decoration: none;
}


.image-carte{
    margin-left: 5%;
}