/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 juin 2015, 20:01:11
    Author     : grossello
*/

.col-md-3 {
    width: 8%;
    float: left;
    margin-left: 15%;
    margin-top: 1%;
    border-color:  #46e73c;
}


.btn-group{
    margin-left: 15%;
    margin-bottom: 2%;
}

.btn-lg, .btn-group-lg > .btn{
    padding: 8px 12px;
}

.btn-carte{
    margin-left: 4%;
}

.btn-default{
    background-color: #46e73c;
    border-color: #ecf1ec;
}

.btn:hover{
    background-color: #46e73c;
    border-color: white;
}



.nodeco{
    color: #ecf1ec;
    text-decoration: none;
    font-size: 15px;
    padding: 8px 12px;
}

.nodeco:hover {
    color: white;
    text-decoration: none;
}

.image-carte{
    margin-left: 4.5%;
}

.thumbnail{
    border-color: #46e73c;
}

.boisson{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2%;
    width: 70%;
}

