/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 juin 2015, 19:27:29
    Author     : grossello
*/



iframe{
margin-right: 15%;
float: right;
width: 30%;
}


img{
margin-left: 15%;
float: left;
width: 500px;
height: 450px;
}

.jumbotron
{
    float : left;
    margin-top: 2%;
    margin-left: 10%;
    width: 20%;
}