/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
<<<<<<< HEAD
    Created on : 2 juin 2015, 17:35:17
    Author     : brodrigue
*/






iframe{
margin-right: 15%;
float: right;
width: 30%;
}

.jumbotron
{
    background-color: #46e73c;
    color: white;
    float: left;
    margin-top: 2%;
    margin-bottom: 1px;
    padding: 1px;
    clear: both;
    margin-left: 8%;
   
 }

img{
margin-left: 15%;
float: left;
height: 450px;
width: 38%;
}
