/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
<<<<<<< HEAD
    Created on : 2 juin 2015, 17:35:17
    Author     : brodrigue
*/






iframe{
margin-right: 15%;
float: right;
width: 30%;
}


button
{
    float: left;
    margin-left: 15%;
    margin-top: 2%;
}

.btn-default{
    color:  #ecf1ec;
    background-color: #46e73c;
    border-color: #ecf1ec;
}

.btn:hover{
    background-color: #46e73c;
    color: white;
    border-color: white;
}
